<div class="container my-5">
<div class="row">
<div class="col-md-3">
    <div class="list-group">
        <a routerLink="./quick-form" class="list-group-item list-group-item-action">Quick Contact</a>
        <a routerLink="./address" class="list-group-item list-group-item-action">Contact Address</a>
        <a routerLink="./map" class="list-group-item list-group-item-action">Contact Map</a>
        <a class="list-group-item list-group-item-action" routerLink="./services">Services</a>
      </div>
</div>
<div class="col-md-9">
<router-outlet></router-outlet>


</div>


</div>
</div>




    